@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*       { box-sizing: border-box; }
body    { margin: 0; font-family: 'Open Sans', sans-serif; }
img     { max-width: 100%;}

:root {
    --very_dark_blue: hsl(243, 87%, 12%);
    --desaturated_blue: hsl(238, 22%, 44%);
    --bright_blue: hsl(224, 93%, 58%);
    --moderate_cyan: hsl(170, 45%, 43%);
    --light_grayish_blue: hsl(240, 75%, 98%);
    --light_gray: hsl(0, 0%, 75%);
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 30px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.flex > div, .flex-social > ul {
    flex: 1;
}

.flex > div:first-child{
    margin-right: 30px;
}


/* ---- NAV ---- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 300px;
}

nav a {
    text-decoration: none;
    color: black;
}


/* ---- HEADER ---- */
h1 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 33px;
    line-height: 3rem;
}

input {
    flex: 0.7;
    padding: 12px;
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid var(--desaturated_blue);
    outline: none;
}

button {
    flex: 0.3;
    padding: 12px;
    border-radius: 5px;
    color: var(--light_grayish_blue);
    background-color: var(--bright_blue);
    border: 1px solid var(--bright_blue);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}


/* ---- PRODUCTIVE ---- */
.wave {
    display: block;
    width: 100%;
    margin-top: 50px;
}

.bg-purple {
    background-color: var(--light_grayish_blue);
    padding-bottom: 50px;
}

.bg-purple a {
    color: var(--moderate_cyan);
}

.box {
    background-color: #fff;
    width: 80%;
    padding: 10px 40px 40px;
    margin-top: 40px;
}

.icon-quote {
    margin-bottom: -20px;
}

h5 {
    line-height: 23px;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

h4 {
    margin: 0;
    font-weight: 700;
}


/* ---- ACCESS ---- */
.access {
    background-color: var(--desaturated_blue);
}

form {
    display: flex;
}

.form-flex {
    display: flex;
    flex-direction: column;
}

.form-flex input {
    width: 100%;
    margin-bottom: 30px;
}

.form-flex button {
    width: 50%;
}

.access p, h2 {
    color: white;
    width: 80%;
}


/* ---- ACCESS ---- */
footer {
    background-color: var(--very_dark_blue);
    color: white;
}

footer ul {
    padding: 0;
    width: 100%;
}

.flex-social {
    display: flex;
    align-items: flex-start;
    text-align: center;
}

.flex-social ul li {
    list-style-type: none;
    line-height: 40px;
    margin-left: 0;
    color: white;
}

.flex-social img {
    margin-right: 10px;
}

.social-networks {
    display: flex;
    justify-content: space-around;
}

.social-networks li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
}


/* ---- RESPONSIVE ---- */
@media screen and (max-width: 770px) {
    .flex > div:first-child {
        margin-right: 0;
    }

    body, .flex-social {
        text-align: center;
    }

    nav, .flex, .flex-social {
        flex-direction: column;
    }

    nav ul {
        width: 300px;
        justify-content: space-evenly;
    }

    form, .box {
        margin-bottom: 50px;
    }

    h2, .box,
    .access p, .access .container .flex,
    .form-flex input, .form-flex button, .form-flex {
        width: 100%;
    }

    .access .container .flex {
        align-items: stretch;
    }

    .logo {
        margin: 20px auto;
        align-items: center;
    }

    .user-info {
        justify-content: center;
    }

    footer .container {
        width: 300px;
    }
}